# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# iOS / Android / Windows build dirs
ios/Pods/
android/.gradle/
android/app/build/
windows/flutter/
macos/Flutter/ephemeral/
linux/flutter/

# Env & secrets
.env
*.env
secrets.json

# IDE configs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Build tools
nuget.exe